{% extends 'baseFront.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    <h1 style="padding-left : 190px">
        Create new Reservation
        {{ include('reservation/_form.html.twig') }}

        <a href="{{ path('app_reservation_index', {'etat': 0})  }}">back to list</a>
{% endblock %}
