{% extends 'baseBack.html.twig' %}

{% block title %}Edit Ticket{% endblock %}

{% block body %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    <h1>Edit Ticket</h1>

    {{ include('ticket/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ticket_index') }}">back to list</a>

    {{ include('ticket/_delete_form.html.twig') }}
{% endblock %}
