{% extends 'baseBack.html.twig' %}

{% block title %}Edit Paiement{% endblock %}

{% block body %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    <h1>Edit Paiement</h1>

    {{ include('paiement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_paiement_index') }}">back to list</a>

    {{ include('paiement/_delete_form.html.twig') }}
{% endblock %}
