{% extends 'baseFront.html.twig' %}

{% block title %}New Paiement{% endblock %}

{% block body %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

    <h1>Create new Paiement</h1>

    {{ include('paiement/_form.html.twig') }}

    <a href="{{ path('app_paiement_index') }}">back to list</a>
{% endblock %}
