 <footer class="footer-section style-two pt-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">
                        <div class="footer-logo">
                            <div class="">
                                <div class="textwidget">
                                    <p><a class="logo" href="index-2.html"><img
                                                src="{{asset('assets/uploads/2021/12/logo2.png')}}" alt="Logo" /><br />
                                        </a></p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet perspiciatis sit
                                        voluptas quae</p>
                                </div>
                            </div>

                            <div class="">

                                <div class="top">
                                    <ul class="social-links">
                                        <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#" title="Facebook"><i class="fab fa-facebook"></i></a></li>
                                        <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                        <li><a href="#" title="Pinterest"><i class="fab fa-pinterest"></i></a></li>
                                        <li><a href="#" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">
                        <div class="footer-links">
                            <h3>Quick Links</h3>
                            <div class="menu-quick-links-container">
                                <ul id="menu-quick-links" class="menu">
                                    <li id="menu-item-306"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-306">
                                        <a href="#">About</a>
                                    </li>
                                    <li id="menu-item-307"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-307">
                                        <a href="#">Activities</a>
                                    </li>
                                    <li id="menu-item-308"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-308">
                                        <a href="#">Contact
                                            Us</a>
                                    </li>
                                    <li id="menu-item-309"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-309">
                                        <a href="#">Blog</a>
                                    </li>
                                    <li id="menu-item-310"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-310">
                                        <a href="#">Register</a>
                                    </li>
                                    <li id="menu-item-453"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-453">
                                        <a href="#">Guides</a>
                                    </li>
                                    <li id="menu-item-454"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-454">
                                        <a href="#">Flights</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">


                        <div class="">

                            <div class="footer-blog">
                                <h3> Blog And News </h3>

                                <div class="inner">
                                    <ul class="align-items-center">
                                        <li>
                                            <img width="880" height="440"
                                                src="{{asset('assets/uploads/2021/12/blog-lrg-3.jpg')}}"
                                                class="attachment-large size-large wp-post-image" alt=""
                                                loading="lazy" />
                                        </li>
                                        <li>
                                            <a href="#">7
                                                Activities in Venice</a>
                                            <span>Tue Dec 7</span>
                                        </li>
                                    </ul>

                                </div><!-- /.activity-container -->

                                <div class="inner">
                                    <ul class="align-items-center">
                                        <li>
                                            <img width="880" height="440"
                                                src="{{asset('assets/uploads/2021/12/blog-lrg-2.jpg')}}"
                                                class="attachment-large size-large wp-post-image" alt=""
                                                loading="lazy" />
                                        </li>
                                        <li>
                                            <a href="#">5
                                                Things to Do in Venice</a>
                                            <span>Tue Dec 7</span>
                                        </li>
                                    </ul>

                                </div><!-- /.activity-container -->

                                <div class="inner">
                                    <ul class="align-items-center">
                                        <li>
                                            <img width="880" height="440"
                                                src="{{asset('assets/uploads/2021/12/blog-lrg-1.jpg')}}"
                                                class="attachment-large size-large wp-post-image" alt=""
                                                loading="lazy" />
                                        </li>
                                        <li>
                                            <a href="#">Places
                                                to See in Venice</a>
                                            <span>Tue Dec 7</span>
                                        </li>
                                    </ul>

                                </div><!-- /.activity-container -->


                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">

                        <div class="">
                            <div class="footer-contact">
                                <h3>Contact Information</h3>
                                <div class="top">
                                    <ul>
                                        <li>
                                            <i class="flaticon-maps-and-flags"></i>
                                            <a href="#">1489 3rd Ave, Newyork, USA</a>
                                            <span>Meet Us In Office</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-mail-3"></i>
                                            <a href="mailto:http://info@example.com">info@example.com</a>
                                            <span>Drop Us A Line</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-clock-2"></i>
                                            <p>9 AM - 5 PM (Sun-Fri)</p>
                                            <span>Office Hour</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="bottom">
                                    <i class="fa fa-phone"></i>
                                    <a href="tel:123 456 7890">123 456 7890</a>
                                    <span>Make A Call</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>





    <!-- Login-Sign Form -->
    <div class="modal login-modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header position-relative">
                    <div class="login-head text-center pera-content">
                        <p>Lacinia at quis risus sed. Tempus egestas sed sed risus pretium quam vulputate dignissim.</p>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="modal-signup-login-tab">
                        <div class="tab-pane-btn ul-li">
                            <ul id="tabs" class="nav text-center nav-tabs tab-pane-btn-area">
                                <li class="nav-item"><a href="#" data-target="#login" data-toggle="tab"
                                        class="nav-link text-capitalize active"><i class="far fa-user"></i> Login</a>
                                </li>
                                <li class="nav-item"><a href="#" data-target="#signUp" data-toggle="tab"
                                        class="nav-link text-capitalize"><i class="fa fa-key"></i> Sign Up</a></li>
                            </ul>
                        </div>
                        <div id="tabsContent" class="tab-content">
                            <div id="login" class="tab-pane fade active show">
                                <div class="login-content pera-content text-center">
                                    <form id="login_form" action="#" method="post">
                                        <input type="hidden" id="security" name="security" value="8f4b4250a3" /><input
                                            type="hidden" name="_wp_http_referer" value="/gootravel-wp/home-page-2/" />
                                        <input type="text" name="username" id="username"
                                            placeholder="Username or email">
                                        <input type="password" name="password" id="password" placeholder="Password">
                                        <p class="status"></p>
                                        <div class="login-label clearfix">
                                            <span><input type="checkbox">Remember me</span>
                                            <a href="index.html">Forget Password?</a>
                                        </div>
                                        <button type="submit" name="login" class="submit_button">Submit</button>
                                    </form>
                                    <p>Don't have any account? <a href="#">Signup</a></p>
                                </div>
                            </div>
                            <div id="signUp" class="tab-pane fade">
                                <div class="sign-up-content pera-content text-center">
                                    <form id="signUp_form" action="#" method="post">
                                        <input type="hidden" id="signonsecurity" name="signonsecurity"
                                            value="f35fd9212c" /><input type="hidden" name="_wp_http_referer"
                                            value="/gootravel-wp/home-page-2/" />
                                        <input type="text" placeholder="First Name">
                                        <input type="text" placeholder="Last Name">
                                        <input type="email" placeholder="Email address">
                                        <input id="signonname" type="text" name="signonname" placeholder="Username">
                                        <input type="password" placeholder="Password">
                                        <input id="signonpassword" name="signonpassword" type="password"
                                            placeholder="Confirm password">
                                        <p class="status"></p>
                                        <div class="login-label clearfix">
                                            <span><input type="checkbox">By clicking signup you are agree to our terms
                                                of service</span>
                                        </div>
                                        <button type="submit">Submit</button>
                                    </form>
                                    <p>Already have an account? <a href="#">Log in</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

