{% extends 'baseFront.html.twig' %}


{% block body %}

<div id="tours_widget-7" class="widget widget_tours_widget">

<section id="tour" class="activity-section">
            <div class="container">
                hhhhh
            </div>
<section

</div>

{% endblock %}
